DATABASE_HOST=db
DATABASE_USER=db_user
DATABASE_PASSWORD=db_password
DATABASE_NAME=example
DATABASE_PORT=5430
DATABASE_MAXATTEMPS=5
DATABASE_DELAY=5s
DATABASE_TIMEOUT=5s

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://db_user:db_password@db:5430/example

DEBUG=true

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=noreply@example.com
SMTP_PASSWORD=smtp_password
SMTP_FROM=noreply@example.com

APP_BASE_URL=http://localhost:8080

REGISTRATION_TOKEN_TTL=10m
REGISTRATION_RESEND_COOLDOWN=1m

USE_MOCK_EMAIL_SENDER=true
